<template>
  <div>
    <!--  <h2>Hello Details: {{this.$route.params.id}}</h2>
    <p>{{this.$route.params.slug}}</p>
    <p>{{this.$route.path}}</p>-->
    <GoBack />
    <section class="destination">
      <h1>{{destinationOla.name}}</h1>
      <div class="destination-details">
        <img :src="require(`@/assets/${destinationOla.image}`)" :alt="destinationOla.name" />
        <p>{{destinationOla.description}}</p>
      </div>
    </section>
    <section class="experiences">
      <h2>Top experiences in {{destinationOla.name}}</h2>
      <div class="cards" id="experience">
        <div v-for="experience in destinationOla.experiences" :key="experience.slug" class="card">
          <router-link
            :to="{name: 'experienceDetails', params: {experienceSlug: experience.slug}, hash: '#experience'}"
          >
            <img :src="require(`@/assets/${experience.image}`)" :alt="experience.name" />
            <span class="card_text">{{experience.name}}</span>
          </router-link>
        </div>
      </div>
      <router-view :key="$router.path" />
    </section>
  </div>
</template>

<script>
import store from "@/store.js";
import GoBack from "@/components/GoBack.vue";
export default {
  components: {
    GoBack,
  },
  props: {
    slug: {
      type: String,
      required: true,
    },
  },
  computed: {
    destinationOla() {
      //store.destinations são os dados do arquivo store.js
      return store.destinations.find((data) => data.slug === this.slug);
    },
  },
};
</script>

<style scoped>
img {
  max-width: 600px;
  height: auto;
  width: 100%;
  max-height: 400px;
}

.experiences {
  padding: 40px 0;
}

.destination-details {
  display: flex;
  justify-content: space-between;
}

p {
  margin: 0 40px;
  font-size: 20px;
  text-align: left;
}

.cards img {
  max-height: 200px;
}
.card {
  padding: 0 20px;
  position: relative;
}
.card_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
</style>