<template>
  <div>
    <section class="experiences">
      <h2>{{experience1.name}}</h2>
      <div class="experience-details">
        <img :src="require(`@/assets/${experience1.image}`)" :alt="experience1.name" />
        <p>{{experience1.description}}</p>
      </div>
    </section>
  </div>
</template>

<script>
import store from "@/store.js";

export default {
  props: {
    slug: {
      type: String,
      required: true,
    },
    experienceSlug: {
      type: String,
      required: true,
    },
  },
  computed: {
    destination1() {
      return store.destinations.find((data) => data.slug === this.slug);
    },
    experience1() {
      return this.destination1.experiences.find(
        (data) => data.slug === this.experienceSlug
      );
    },
  },
};
</script>

 <style scoped>
.experience {
  height: auto;
  width: 100%;
  max-height: 400px;
}
.experience-details {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
p {
  margin: 0 40px;
  font-size: 20px;
  text-align: left;
}
</style>